html, body, .fullheight {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.fullheight {
  margin-bottom: 10px;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 90px;
}


.CodeMirror {
  background: #F8F8F8;
}
